Package: arduino-ide
Version: 1.8.14
Installed-Size: 369164
Maintainer: Crash and Eddie <crash.eddie123@gmail.com>
Section: science
Architecture: amd64
Priority: optional
Depends: default-jre
Homepage: https://www.arduino.cc
Description: IDE e bibliotecas embutidas para placa de desenvolvimento AVR.
 Arduino é uma plataforma de código fonte aberto de prototipagem eletrônica
 baseada em software e hardware flexíveis e fáceis de usar. Ela é voltada
 para artistas, designers, pessoas dedicadas a um hobby e qualquer um
 interessado em criar ambientes ou objetos interativos.
